body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.navbar-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f09595;
  height: 50px;
}

.store-mini {
  position: absolute;
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  padding: 8px;
  left: 2px;
}

.link-store {
  text-decoration: none;
  color: black;
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  padding: 8px;
}

.home-wrapper {
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 8px;
  padding: 8px;
}

.navbar-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f09595;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f09595;
  height: 50px;
}

.baby {
  position: absolute;
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  padding: 8px;
  left: 2px;
}

link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 8px;
  padding: 8px;
}

/* .row1 {
  color: #fff;
  font-size: 11px;
  width: 164px;
  cursor: pointer;
} */

.formbox {
  display: inline-block;
  width: 399px;
}

.inputbody {
  display: inline-block;
  font-size: 18px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  color: #333;
  margin-bottom: 10px;
}

.in1 {
  width: 172px;
}

.in2 {
  width: 185px;
}

.bolder {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizelegibility;
  color: #333;
}
.free {
  font-size: 19px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 50px;
}

.buttonSignUp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 50px;
  background: #fa697c;
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;
}

.already {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.account {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 10px;
}
